[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "The-Forge"]
	path = The-Forge
	url = https://github.com/nkari82/The-Forge.git
	branch = master
[submodule "zlib-ng"]
	path = zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
	branch = develop
[submodule "ozz-animation"]
	path = ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
	branch = master
[submodule "luv"]
	path = luv
	url = https://github.com/luvit/luv.git
	branch = master
[submodule "sol2"]
	path = sol2
	url = https://github.com/ThePhD/sol2.git
	branch = develop
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
	branch = master
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
	branch = master
[submodule "cista"]
	path = cista
	url = https://github.com/felixguendling/cista.git
	branch = master
